/*  your css code here. If applicable */
li:nth-child(odd){
	background:white;
	padding: 5px;
}
li:nth-child(even){
	background:slategray;
	padding: 5px;
}
li:nth-child(3){
	background:pink;
	padding: 5px;
}
.first-para{
	border:1px solid black;
	color: white;
	background: black;
	padding:5px;
}
.last-para{
	color: red;
}
body{
	background:skyblue;
}
html{
	background:skyblue;
}